<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Active Sessions</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
<div class="table-users">
    <div class="header"></div>

    <table cellspacing="0" id="table">

    </table>
    <label id="active_session" style="display: none">{sessions}</label>
    <label id="alert" style="display: none">{alert}</label>
</div>

<tagOfNoUse>

<script type="text/javascript">

    if(document.getElementById("alert").innerHTML!="{alert}"){
        console.log("in alert");
        alert(document.getElementById("alert").innerHTML);
    }else{
        var active_session = document.getElementById("active_session").innerHTML;
        //var obj = JSON.stringify(active_session);
        console.log(active_session);
        var json = JSON.parse(active_session);


        console.log(json.length);
        console.log(json[0]["ip"]);

        var len = json.length;
        var jsonSize = Object.keys(json[0]).length;

        make_table();

    }

    $('#drop_session').click(function(){
        $.get("/dropSession?"+$(this).val());
    });

    function make_table(){

        var row = document.createElement('tr');
        document.getElementById("table").appendChild(row);

        for(var j in json[0]){

            if(j!="_id" && j!="__v"){
                var col = document.createElement('td');
                col.textContent = j;
                row.appendChild(col);
            }
        }
        var col = document.createElement('td');
        col.textContent = " ";
        row.appendChild(col);


        for( var i=0; i< len ; i++){

            var rows = document.createElement('tr');
            document.getElementById("table").appendChild(rows);

            for(var j in json[i]){
                if(j!="_id" && j!="__v"){
                    var cols = document.createElement('td');
                    cols.textContent = json[i][j] ;
                    rows.appendChild(cols);
                }
            }
            var btn = document.createElement('button');
            btn.textContent ="Drop Session";
            btn.setAttribute('id',"drop_session");
            btn.setAttribute('value',json[i]["_id"]);
            rows.appendChild(btn);
        }
    }



</script>

</body>
</html>