<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
  <title>Admin Panel </title>

    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="materialize/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

    <script src="jquery.js"></script>
    <script src="materialize/js/materialize.min.js"></script>


</head>
<body>



<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a id="users"> Users </a></li>
            <li><a id="categories"> Categories </a></li>
            <li><a id="weblists"> Weblists </a></li>
            <li><a id="authSessions"> AuthSessions </a></li>
            <li><a href="/editProfile"> Edit Profile </a></li>
            <li><a href="/logout"> Log Out </a></li>

        </ul>
    </div>
</nav>



<div class="row" id="main_row">
    <div class="col s3" style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);overflow-y: auto;">
        <p > System Configuration </p>
    </div>
    <div class="col s9" style="overflow-y: auto; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);">


            <table class="highlight centered bordered" id="Table">

            </table>
    </div>

</div>

<div class="floating-button" style="position: fixed; bottom: 20px; margin-left: calc(50% - 10px);">
    <a  onclick="showAddModal();" class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</div>


<!-- Add User Form Structure -->
<div id="addUser" class="modal bottom-sheet">


    <form class="modal-content row" id="addUserForm">

            <div class="input-field col s4">
                <input id="username_addUser" type="text" name="username" class="validate">
                <label for="username_addUser">Username</label>
            </div>
            <div class="input-field col s4">
                <input id="password_addUser" type="password" name="password" class="validate">
                <label for="password_addUser">Password</label>
            </div>
            <div class="input-field col s4">
                <select  id="category_addUser" name="category">

                </select>
                <label >Category</label>
            </div>

    </form>

    <div class="modal-footer">
        <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Add User" onclick="AddUser_btn_click()">
    </div>
</div>

<!-- Add Category Structure -->
<div id="addCategory" class="modal bottom-sheet">

    <form class="modal-content row" id="addCategoryForm">

        <div class="input-field col s4">
            <input id="catgName" type="text" name="category" class="validate">
            <label for="catgName">Category</label>
        </div>
        <div class="input-field col s4">
            <input id="maxTime_addcategory" type="number" name="maxTime" class="validate">
            <label for="maxTime_addcategory">Max Time allowed</label>
        </div>
        <div class="input-field col s4">
            <select  id="enrolledLists_addcategory" name="enrolledLists" multiple>

            </select>
            <label >Enrolled Lists</label>
        </div>

    </form>

    <div class="modal-footer">
        <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Add Category" onclick="AddCategory_btn_click()">
    </div>
</div>




<!-- Add Weblists Structure -->
<div id="addWeblists" class="modal bottom-sheet">

    <form class="modal-content row" id="addWeblistsForm">

        <div class="input-field col s4">
            <input id="listName" type="text" name="listName" class="validate">
            <label for="listName">List name</label>
        </div>
        <div class="input-field col s4">
            <input id="blackList" type="text" name="blackList" class="validate">
            <label for="blackList">Black List array("," separated)</label>
        </div>


    </form>

    <div class="modal-footer">
        <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Add Weblist" onclick="AddWeblists_btn_click()">
    </div>
</div>


<script src="js/admin_home.js"></script>


</body>

</html>
